:root {
  --primary: #0bc023;
  --bg: #010101;
  --orange: #fda502;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poopins, sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 2000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo img {
  height: 50%;
  width: auto;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a:after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover:after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/herder-bg112233.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.hero:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, #010103 8%, #fff0 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px #01010380;
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 0px 0px 1px #fff;
  line-height: 1.2;
  /* untuk menyesuaikan font dengan warna yang berbeda */
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #01010380;
}

.hero .wrapper {
  display: flex;
  background-color: transparent;
  width:300px;
}

.hero .wrapper .text {
  color: #d7d7d7;
  font-size: 20px;
  font-weight: 400%;
  margin-top: auto;
}

.hero .wrapper .dynamic-text {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.hero .dynamic-text li {
  color: var(--orange);
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-align: center;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-text li span {
  position: relative;
  margin: 0px 0;
  margin-top: -10rem;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  width:300px;
  height:60px;
  justify-content: left;
  margin-top: auto;
  animation: typing 5s steps(14) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

#countdown-timer {
  margin-top: 0rem;
  align-items: center;
  position: relative;
  width: 80%;
  height: 80%;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-style: oblique;
  color: var(--primary);
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #01010380;
}

.about,
.content,
.menu,
.team,
.tes {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.contact h2,
.menu h2,
.team h2,
.tes h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about span,
.contact span,
.menu span,
.team span,
.tes span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  box-shadow: 4px 2px 6px var(--primary);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

.about .row .content .social a {
  color: #fff;
  margin: 0 1rem;
}

.about .row .content .social a:hover {
  color: var(--primary);
}

.contact h2 {
  padding: 8rem 7% 0.5rem;
}

.contact p,
.menu p,
.team p,
.tes p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.menu .container .row {
  padding: 0.5rem;
  background: #fff;
  border-radius: 8%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--primary);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu .container .row .fa-heart,
.menu .container .row .fa-eye {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: var(--bg);
  margin-top: 2rem;
}

.menu .container .row .fa-heart:hover,
.menu .container .row .fa-eye:hover {
  background: #a7e7b0;
  color: #fff;
}

.menu .container .row .fa-heart {
  right: -15rem;
}

.menu .container .row .fa-eye {
  left: -15rem;
}

.menu .container .row:hover .fa-heart {
  right: 1rem;
}

.menu .container .row:hover .fa-eye {
  left: 1rem;
}

.menu .container .row img {
  margin: 2rem 0;
  margin-top: 0.5rem;
  border-radius: 8%;
  border-right-color: #0bc023;
}

.menu .container .row h3 {
  color: var(--bg);
  font-size: 1.5rem;
  margin-top: -2rem;
}

.menu .container .row .star {
  padding: 1rem 0;
  margin-top: -3rem;
}

.menu .container .row .star i {
  font-size: 1.5rem;
  color: var(--orange);
  margin-top: 2.5rem;
}

.menu .container .row span {
  color: var(--primary);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2rem;
  margin-top: -3rem;
}

.menu .container .row .btn {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: var(--bg);
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 0.8rem 2rem;
  opacity: 2;
  margin-top: -3rem;
}

.team .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.team .row .myteam {
  text-align: center;
  padding-bottom: 0.5rem;
}

.team .row .myteam img {
  border-radius: 100%;
  width: 210px;
  height: 200px;
  border: 1px solid var(--orange);
  padding: 8px;
  margin: 15px;
  box-shadow: 2px 2px 2px var(--primary);
}

.team .row .myteam span {
  color: var(--orange);
}

.team .row .myteam .myteam-title {
  margin: 1rem auto 0.5rem;
}

.team .row .myteam .follow a {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border-radius: 0rem;
  box-shadow: 1px 1px 2px var(--primary);
  cursor: pointer;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
}

.contact .row form .btn,
footer {
  background-color: var(--primary);
}

footer {
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 2rem;
}

footer .social {
  padding: 1rem 0.5rem;
}

footer .social a {
  color: #fff;
  margin: 0.5rem;
}

footer .link a:hover,
footer .social a:hover,
footer .credit a:hover {
  color: var(--bg);
}

footer .link {
  margin-bottom: 0.3rem;
}

footer .link a {
  color: #fff;
  padding: 1rem 1rem;
}

footer .alamat span {
  color: var(--bg);
  font-weight: 800;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #fff;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 23rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
}

.menu p {
  font-size: 1.2rem;
}

.contact .row {
  flex-wrap: wrap;
}

.contact .row .maps {
  height: 30rem;
}

.contact .row form {
  padding-top: 0;
}

.menu .container .row img {
  height: auto;
  width: 100%;
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* BACK TO TOP */

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 20%);
  background-color: #d7d7d7;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: var(--primary);
}

/* testimoni */

.tes .swiper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8rem;
  justify-content: center;
}

.tes .swiper .swiper-wrapper {
  flex: 1 1 45rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: -8rem;
}

.swiper .swiper-wrapper {
  width: 80%;
  height: 40%;
  justify-content: baseline;
}

/* tambahan */

.swiper-navBtn {
  color: #cec073;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: var(--orange);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}


.swiper .swiper-button-next {
  right: 0;
}

.swiper .swiper-button-prev {
  left: 0;
}

.swiper .swiper-pagination-bullet {
  background-color: #cec073;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--orange);
}

.container .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: var(--primary);
}

.container .card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 25px;
  margin: 20px 0;
  width: 280px;
  box-shadow: 8px 10px #b7c9b9;
}

.card::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  background: var(--primary);
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-professional .name {
  font-size: 20px;
  font-weight: 600;
  color: #010101;
}

.name-professional .professional {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #010101;
}

.card .reting {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .reting i {
  font-size: 18px;
  margin: 0 2px;
  color: var(--primary);
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: var(--primary);
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button .button:hover {
  background: var(--primary);
}
